
@import url(https://fonts.google.com/specimen/Outfit);

body{
    margin: 0;
    box-sizing: border-box;
}

img,h1,p{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #D5E1EF;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: white;
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;
}

.box img{
    width: 100%;
    border-radius: 10px;
}

.textbox{
    padding: 22px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    text-align: center;
}

.title{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
}

.text{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(218, 44%, 22%);
    font-size: 14px;
}